@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.1rem;
    height: 0.1rem;
}

::-webkit-scrollbar-track {
    background: $white;
}

::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 1rem;
}

input {
    border: 0;
    padding-left: 10px;
}

button {
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    /* white-space: nowrap; */
}

li {
    list-style-type: none;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

@media (max-width: 1399px) {
    .container {
        width: 1140px;
    }
}

@media (max-width: 1199px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .container {
        width: 100%;
    }
}