@import "./ui/veriables";
@import "./ui/mixin";
@import "./global";
@import "./layout/header";


@import"./screens/study";
@import"./screens/digital";
@import"./screens/apply";
@import"./screens/info";

@import "./layout/footer";