$blue:Blue;
$white:#FFFFFF;
$orange:#FF4D14;
$light-blue:#9DDAFF;
$sec-blue:#0296F0;
$grey:#4A4A4A;
$sec-grey:#E0E0E0;
$black:#333333;
$green:#83EA00;
$dark-grey:Dark Grey;
$gradient: linear-gradient(90deg, #0167B5, #0296F0);
