.comand {
    padding: 100px 0;
    background-image: url(./../../img/home/blue.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 100px;
        align-items: center;

        .title {
            font-size: 40px;
            color: $white;
            width: 881px;
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                color: #B4EDFF;
            }
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;

            .list {
                display: flex;
                align-items: center;
                gap: 30px;

                .card {
                    min-width: 515px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    position: relative;

                    &__cards {
                        position: relative;
                        padding-left: 24px;
                        display: flex;
                        flex-direction: column;
                        gap: 30px;

                        &__title {
                            font-size: 22px;
                            color: $white;
                        }

                        &__desc {
                            color: $white;
                            font-size: 17px;
                            width: 70%;
                            opacity: 0.6;
                        }
                    }

                    &__cards::before {
                        content: "";
                        position: absolute;
                        left: -10px;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 90%;
                        width: 1px;
                        background-color: #ADFF44;
                    }
                }

                .holder {
                    min-width: 300px;
                    flex: 1;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}