.digital{
    padding: 100px 0;
    &__content{
        &__wrapper{
            display: flex;
            gap: 100px;
            align-items: center;
            .img__box{
                min-width: 300px;
                flex: 1;
                position: relative;
                img{    
                    width: 100%;
                    position: relative;
                    z-index: 3;
                }
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    border:2px solid #ADFF44;
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    top: 20px;
                    left: 20px;
                    background-color: $white;
                    z-index: 2;
                    opacity: 0.5;
                }
                &::after {
                    top: 40px;
                    left: 40px;
                    z-index: 1;
                }
            }
            .text__wrap{
                min-width: 300px;
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 55px;
                align-items: flex-start;
                &__title{
                    width: 80%;
                    font-size: 40px;
                    color: black;
                    letter-spacing: -5%;
                    span{
                        color: $sec-blue;
                    }
                }
                .list{
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    &__item{
                        display: flex;
                        gap: 10px;
                        color: $grey;
                        font-size: 17px;
                        &__icon{
                            color: $sec-blue;
                            
                        }
                    }
                }
                .btn{
                    padding: 15px 35px;
                    background: linear-gradient(to right, #0167B5, #0296F0);
                    align-items: flex-start;
                    color: $white;
                    font-size: 17px;
                    margin-left: 30px;
                    border-radius: 4px;
                }
            }
        }
    }
}