.gayd{
    padding: 100px 0;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;

        &__title {
            font-size: 40px;
            color: $black;

            span {
                color: #0296F0;
            }
        }

        &__text {
            font-size: 22px;
            color: $black;
            text-align: center;
            max-width: 600px;
        }

        &__wrap {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .details {
                display: flex;
                flex-direction: column;
                gap: 20px;

                &__sum {
                    padding: 20px;
                    border-top: 1px solid $sec-grey;
                    border-bottom: 1px solid $sec-grey;
                    padding-right: 60px;
                    cursor: pointer;
                    font-size: 22px;
                    color: $grey;
                    font-weight: 600;
                    list-style-type: none;
                    position: relative;

                    &__icon {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 25px;
                        right: 20px;
                    }
                }
                &[open] .details__sum__icon {
                    transform: translateY(-50%) rotate(180deg);
                    color: $sec-blue;
                }

                &__el {
                    border-top: 1px solid $grey;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    &__text{
                        color: $grey;
                        font-weight: 600;
                        align-items: center;
                        display: flex;
                        gap: 10px;
                        i{
                            color: $green;
                        }
                        
                    }
                }


                &:last-child {
                    border-bottom: 1px solid $grey;

                }
            }
        }

        &__link {
            @include btn($white, $gradient, 15px 30px, 5px);
            transition: all 0.2s ease;
        }
    }
}