.rubej {
    padding: 100px 0;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;

        &__title {
            font-size: 40px;
            color: $grey;

            span {
                color: $green;
            }
        }

        &__wrap {
            display: flex;
            align-items: center;
            gap: 50px;

            .info {
                min-width: 300px;
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 50px;

                .card {
                    display: flex;
                    align-items: center;
                    gap: 50px;

                    img {
                        min-width: 62px;
                        height: 90px;
                    }

                    &__block {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .title {
                            font-size: 22px;
                            color: $grey;
                            width: 70%;
                        }

                        .desc {
                            font-size: 17px;
                            color: #4A4A4A;
                            width: 50%;
                        }
                    }
                }
            }

            .img {
                min-width: 300px;
                flex: 1;
                position: relative;

                img {
                    width: 100%;
                    position: relative;
                    z-index: 3;
                }

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    border: 2px solid #ADFF44;
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    top: 20px;
                    left: -20px;
                    background-color: $white;
                    z-index: 2;
                    opacity: 0.5;
                }

                &::after {
                    top: 40px;
                    left: -40px;
                    z-index: 1;
                }
            }
        }
    }
}